/customer.xlsx
/discount.xlsx
/inflation.xlsx
/products.xlsx
/sales.xlsx
/venv/
/.idea/
/substitutes.xlsx
/complements.xlsx
/stores.xlsx
/sales_2021_01.xlsx
/sales_2021_02.xlsx
/sales_2021_Q1.xlsx
/sales_2021_Q2.xlsx
/categories.xlsx
